<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar usuario</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
<div class="container">
    <h1>Editar usuario</h1>
    <form method="post" th:action="@{'/usuario/save'}" th:object="${usuario}">
        <input type="hidden" th:field="*{correo}">
        <div>
            <label >Correo del usuario</label><br>
            <input name="correo" type="text" th:field="*{correo}">

        </div>
        <div>
            <label >Nombre del usuario</label><br>
            <input name="nombres" type="text" th:field="*{nombres}">
        </div>
        <div>
            <label >Apellidos del usuario</label><br>
            <input name="apellidos" type="text" th:field="*{apellidos}">
        </div>
        <label >Áreas</label><br>
        <select th:field="*{idarea}">
            <option th:each="area :${listaAreas}"
                    th:value="${area.idarea}"
                    th:text="${area.nombrearea}"></option>

        </select><br>
        <a class="btn btn-danger mt-3" th:href="@{'/usuario/listar'}" >Cancelar</a>
        <button class="btn btn-primary mt-3" type="submit" >Registrar</button>

    </form>


</div>



</body>
</html>