<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de usuarios</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse">
        <a class="navbar-brand" href="/proyecto/listar">Proyectos</a>
        <a class="navbar-brand" href="/usuario/listar">Usuarios</a>
        <a class="navbar-brand" href="/area/listar">Areas</a>
    </div>
</nav>
    <div class="container">
        <h1 class="mb-3">Lista de usuarios</h1>
        <a type="button" class="btn btn-primary mb-3"th:href="@{/usuario/new}"> Nuevo usuario</a>

        <div  class="alert alert-secondary" th:if="${msg!=null}" th:text="${msg}"></div>
        <table class="table">
            <tr>
                <th>#</th>
                <th>Correo del usuario</th>
                <th>Nombre del usuario</th>
                <th>Apellido del usuario</th>
                <th></th>
                <th></th>
            </tr>
            <tr th:each="user, v: ${usuarioList}">
                <td th:text="${v.index+1}"></td>
                <td th:text="${user.correo}"></td>
                <td th:text="${user.nombres}"></td>
                <td th:text="${user.apellidos}"></td>
                <td><a  type="button" class="btn btn-primary" th:href="@{'/usuario/edit?correo='+${user.correo}}">Editar</a></td>
                <td><a  type="button" class="btn btn-danger" th:href="@{'/usuario/delete?correo='+${user.correo}}">Borrar</a></td>
            </tr>

        </table>
    </div>

</body>
</html>