<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nueva Actividad</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body class="container">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse">
        <a class="navbar-brand" href="/proyecto/listar">Proyectos</a>
        <a class="navbar-brand" href="/usuario/listar">Usuarios</a>
        <a class="navbar-brand" href="/area/listar">Areas</a>
    </div>
</nav>
<h2>Nueva Actividad</h2>
<hr/>
<form method="post" th:action="@{'/actividad/guardar'}">
    <div class="mb-3">
        <label for="nombreactividad" class="form-label">Nombre de la Actividad:</label>
        <input type="text" class="form-control" id="nombreactividad" name="nombreactividad">
    </div>
    <div class="mb-3">
        <label for="descripcion" class="form-label">Descripción de la Actividad:</label>
        <input type="text" class="form-control" id="descripcion" name="descripcion">
    </div>
    <div class="mb-3">
        <label >Usuario Responsable:</label>
        <select class="form-control"  id="disabledSelect"   name="usuario_owner">
            <option selected disabled value="">Selecciona Responsable</option>

            <option th:each="usuario : ${listaUsuarios}"
                    th:value="${usuario.correo}"
                    th:text="${usuario.nombres+' '+usuario.apellidos}"
                    >Disabled select</option>
        </select>
    </div>

    <div class="mb-3">
        <label for="peso" class="form-label">Peso:</label>
        <input type="text" class="form-control" id="peso" name="peso" value="0.0">
    </div>

    <div class="mb-3">
        <input type="hidden"  class="form-control" id="estado" name="estado" value="false">
    </div>
    <div class="mb-3">
        <input type="hidden"  class="form-control" id="idproyecto" name="idproyecto" th:value="*{proyecto.getIdproyecto()}">
    </div>

    <a th:href="@{'/actividad/cancelar?idproyecto='+${proyecto.getIdproyecto()}}" class="btn btn-danger">Cancelar</a>
    <button type="submit" class="btn btn-primary">Registrar</button>
</form>
</body>
</html>

